*,
:before,
:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}
:before,
:after {
    --tw-content: "";
}
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
        "Noto Color Emoji";
    font-feature-settings: normal;
}
body {
    margin: 0;
    line-height: inherit;
}
hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
}
abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
a {
    color: inherit;
    text-decoration: inherit;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        Liberation Mono, Courier New, monospace;
    font-size: 1em;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
button,
select {
    text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
:-moz-focusring {
    outline: auto;
}
:-moz-ui-invalid {
    box-shadow: none;
}
progress {
    vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
summary {
    display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}
fieldset {
    margin: 0;
    padding: 0;
}
legend {
    padding: 0;
}
ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af;
}
button,
[role="button"] {
    cursor: pointer;
}
:disabled {
    cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}
img,
video {
    max-width: 100%;
    height: auto;
}
[hidden] {
    display: none;
}
body {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
    font-family: Montserrat;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
h2 {
    font-weight: 800;
    letter-spacing: 0.5em;
    --tw-text-opacity: 1;
    color: rgb(54 183 85 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
    h2 {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}
*,
:before,
:after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}
::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}
.container {
    width: 100%;
}
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.top-\[30\%\] {
    top: 30%;
}
.-right-6 {
    right: -1.5rem;
}
.top-\[50\%\] {
    top: 50%;
}
.-left-6 {
    left: -1.5rem;
}
.top-\[70\%\] {
    top: 70%;
}
.top-0 {
    top: 0px;
}
.left-1\/2 {
    left: 50%;
}
.bottom-6 {
    bottom: 1.5rem;
}
.top-1\/2 {
    top: 50%;
}
.right-0 {
    right: 0px;
}
.left-0 {
    left: 0px;
}
.-bottom-4 {
    bottom: -1rem;
}
.z-10 {
    z-index: 10;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.mt-2 {
    margin-top: 0.5rem;
}
.-ml-8 {
    margin-left: -2rem;
}
.mt-4 {
    margin-top: 1rem;
}
.mb-8 {
    margin-bottom: 2rem;
}
.mt-5 {
    margin-top: 1.25rem;
}
.-mt-2 {
    margin-top: -0.5rem;
}
.mt-16 {
    margin-top: 4rem;
}
.mt-44 {
    margin-top: 11rem;
}
.mt-6 {
    margin-top: 1.5rem;
}
.ml-auto {
    margin-left: auto;
}
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.flex {
    display: flex;
}
.grid {
    display: grid;
}
.contents {
    display: contents;
}
.hidden {
    display: none;
}
.h-\[200px\] {
    height: 200px;
}
.h-\[50px\] {
    height: 50px;
}
.h-\[120px\] {
    height: 120px;
}
.h-6 {
    height: 1.5rem;
}
.h-screen {
    height: 100vh;
}
.max-h-\[300px\] {
    max-height: 300px;
}
.w-full {
    width: 100%;
}
.w-\[130px\] {
    width: 130px;
}
.w-6 {
    width: 1.5rem;
}
.w-16 {
    width: 4rem;
}
.w-32 {
    width: 8rem;
}
.w-\[95\%\] {
    width: 95%;
}
.min-w-\[250px\] {
    min-width: 250px;
}
.max-w-\[200px\] {
    max-width: 200px;
}
.max-w-\[1280px\] {
    max-width: 1280px;
}
.max-w-\[400px\] {
    max-width: 400px;
}
.max-w-\[300px\] {
    max-width: 300px;
}
.max-w-\[90\%\] {
    max-width: 90%;
}
.max-w-\[600px\] {
    max-width: 600px;
}
.max-w-\[900px\] {
    max-width: 900px;
}
.max-w-\[10px\] {
    max-width: 10px;
}
.max-w-\[1200px\] {
    max-width: 1200px;
}
.-translate-y-1\/2 {
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-scale-x-100 {
    --tw-scale-x: -1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-scale-y-100 {
    --tw-scale-y: -1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer {
    cursor: pointer;
}
.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.flex-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}
.items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.gap-6 {
    gap: 1.5rem;
}
.gap-4 {
    gap: 1rem;
}
.gap-2 {
    gap: 0.5rem;
}
.gap-8 {
    gap: 2rem;
}
.gap-1 {
    gap: 0.25rem;
}
.gap-3 {
    gap: 0.75rem;
}
.gap-16 {
    gap: 4rem;
}
.gap-12 {
    gap: 3rem;
}
.justify-self-center {
    justify-self: center;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-x-hidden {
    overflow-x: hidden;
}
.whitespace-nowrap {
    white-space: nowrap;
}
.rounded-full {
    border-radius: 9999px;
}
.border {
    border-width: 1px;
}
.border-0 {
    border-width: 0px;
}
.border-black {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity));
}
.border-red-400 {
    --tw-border-opacity: 1;
    border-color: rgb(248 113 113 / var(--tw-border-opacity));
}
.bg-\[\#01530B\] {
    --tw-bg-opacity: 1;
    background-color: rgb(1 83 11 / var(--tw-bg-opacity));
}
.bg-\[\#01530B\]\/50 {
    background-color: #01530b80;
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.object-cover {
    -o-object-fit: cover;
    object-fit: cover;
}
.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.pt-4 {
    padding-top: 1rem;
}
.pl-2 {
    padding-left: 0.5rem;
}
.text-center {
    text-align: center;
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.font-medium {
    font-weight: 500;
}
.font-bold {
    font-weight: 700;
}
.font-semibold {
    font-weight: 600;
}
.uppercase {
    text-transform: uppercase;
}
.leading-normal {
    line-height: 1.5;
}
.leading-loose {
    line-height: 2;
}
.tracking-\[0\.3em\] {
    letter-spacing: 0.3em;
}
.tracking-\[1em\] {
    letter-spacing: 1em;
}
.tracking-\[0\.4em\] {
    letter-spacing: 0.4em;
}
.tracking-\[0\.5em\] {
    letter-spacing: 0.5em;
}
.tracking-widest {
    letter-spacing: 0.1em;
}
.tracking-\[0\.3rem\] {
    letter-spacing: 0.3rem;
}
.text-\[\#36B755\] {
    --tw-text-opacity: 1;
    color: rgb(54 183 85 / var(--tw-text-opacity));
}
.text-\[\#01530B\] {
    --tw-text-opacity: 1;
    color: rgb(1 83 11 / var(--tw-text-opacity));
}
.text-accent {
    --tw-text-opacity: 1;
    color: rgb(54 183 85 / var(--tw-text-opacity));
}
.shadow-2xl {
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
html {
    scroll-behavior: smooth;
}
.clip {
    -webkit-clip-path: polygon(100% 0, 100% 85%, 95% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 85%, 95% 100%, 0 100%, 0 0);
}
.cli2 {
    -webkit-clip-path: polygon(100% 100%, 5% 100%, 0 85%, 0 0, 100% 0);
    clip-path: polygon(100% 100%, 5% 100%, 0 85%, 0 0, 100% 0);
}
.glitch {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    opacity: 1;
}
.glitch-text {
    position: relative;
}
.glitch-text:before,
.glitch-text:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
}
.glitch-text:before {
    left: 7px;
    text-shadow: 1px 0 green;
    animation: glitch-effect 3s infinite linear alternate-reverse;
}
.glitch-text:after {
    left: 3px;
    text-shadow: -1px 0 red;
    animation: glitch-effect 2s infinite linear alternate-reverse;
}
@keyframes glitch-effect {
    0% {
        clip: rect(95px, 9999px, 33px, 0);
    }
    5% {
        clip: rect(45px, 9999px, 17px, 0);
    }
    10% {
        clip: rect(68px, 9999px, 4px, 0);
    }
    15% {
        clip: rect(83px, 9999px, 22px, 0);
    }
    20% {
        clip: rect(17px, 9999px, 20px, 0);
    }
    25% {
        clip: rect(100px, 9999px, 35px, 0);
    }
    30% {
        clip: rect(42px, 9999px, 81px, 0);
    }
    35% {
        clip: rect(4px, 9999px, 25px, 0);
    }
    40% {
        clip: rect(89px, 9999px, 1px, 0);
    }
    45% {
        clip: rect(45px, 9999px, 36px, 0);
    }
    50% {
        clip: rect(86px, 9999px, 49px, 0);
    }
    55% {
        clip: rect(95px, 9999px, 16px, 0);
    }
    60% {
        clip: rect(68px, 9999px, 78px, 0);
    }
    65% {
        clip: rect(10px, 9999px, 42px, 0);
    }
    70% {
        clip: rect(46px, 9999px, 61px, 0);
    }
    75% {
        clip: rect(15px, 9999px, 85px, 0);
    }
    80% {
        clip: rect(8px, 9999px, 14px, 0);
    }
    85% {
        clip: rect(7px, 9999px, 10px, 0);
    }
    90% {
        clip: rect(54px, 9999px, 60px, 0);
    }
    95% {
        clip: rect(73px, 9999px, 83px, 0);
    }
    to {
        clip: rect(93px, 9999px, 50px, 0);
    }
}
.odd\:order-2:nth-child(odd) {
    order: 2;
}
.even\:order-1:nth-child(even) {
    order: 1;
}
@media (min-width: 640px) {
    .sm\:block {
        display: block;
    }
    .sm\:inline-block {
        display: inline-block;
    }
    .sm\:hidden {
        display: none;
    }
    .sm\:h-\[180px\] {
        height: 180px;
    }
    .sm\:w-\[200px\] {
        width: 200px;
    }
    .sm\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .sm\:gap-12 {
        gap: 3rem;
    }
    .sm\:whitespace-nowrap {
        white-space: nowrap;
    }
    .sm\:text-sm {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}
@media (min-width: 768px) {
    .md\:mx-auto {
        margin-left: auto;
        margin-right: auto;
    }
    .md\:block {
        display: block;
    }
    .md\:min-w-\[400px\] {
        min-width: 400px;
    }
    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .md\:gap-16 {
        gap: 4rem;
    }
    .md\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
@media (min-width: 1024px) {
    .lg\:absolute {
        position: absolute;
    }
    .lg\:left-1\/2 {
        left: 50%;
    }
    .lg\:mx-0 {
        margin-left: 0;
        margin-right: 0;
    }
    .lg\:mb-16 {
        margin-bottom: 4rem;
    }
    .lg\:block {
        display: block;
    }
    .lg\:hidden {
        display: none;
    }
    .lg\:h-\[400px\] {
        height: 400px;
    }
    .lg\:h-\[60px\] {
        height: 60px;
    }
    .lg\:h-\[217px\] {
        height: 217px;
    }
    .lg\:h-\[650px\] {
        height: 650px;
    }
    .lg\:h-\[800px\] {
        height: 800px;
    }
    .lg\:w-\[600px\] {
        width: 600px;
    }
    .lg\:w-\[233px\] {
        width: 233px;
    }
    .lg\:w-32 {
        width: 8rem;
    }
    .lg\:w-28 {
        width: 7rem;
    }
    .lg\:min-w-\[600px\] {
        min-width: 600px;
    }
    .lg\:max-w-\[400px\] {
        max-width: 400px;
    }
    .lg\:max-w-\[600px\] {
        max-width: 600px;
    }
    .lg\:max-w-\[1280px\] {
        max-width: 1280px;
    }
    .lg\:max-w-\[30px\] {
        max-width: 30px;
    }
    .lg\:-translate-x-1\/2 {
        --tw-translate-x: -50%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y))
            rotate(var(--tw-rotate)) skew(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
    }
    .lg\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .lg\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .lg\:flex-nowrap {
        flex-wrap: nowrap;
    }
    .lg\:gap-24 {
        gap: 6rem;
    }
    .lg\:gap-3 {
        gap: 0.75rem;
    }
    .lg\:gap-16 {
        gap: 4rem;
    }
    .lg\:py-16 {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .lg\:px-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .lg\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .lg\:pt-32 {
        padding-top: 8rem;
    }
    .lg\:pt-16 {
        padding-top: 4rem;
    }
    .lg\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    .lg\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
    .lg\:text-7xl {
        font-size: 4.5rem;
        line-height: 1;
    }
    .lg\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .lg\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .lg\:tracking-\[0\.5em\] {
        letter-spacing: 0.5em;
    }
    .lg\:tracking-\[0\.5rem\] {
        letter-spacing: 0.5rem;
    }
    .lg\:tracking-\[0\.3em\] {
        letter-spacing: 0.3em;
    }
}
@media (min-width: 1280px) {
    .xl\:h-screen {
        height: 100vh;
    }
    .xl\:h-\[1100px\] {
        height: 1100px;
    }
}

/*
     FILE ARCHIVED ON 07:56:01 Mar 24, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:08:49 Jun 12, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 121.436
  exclusion.robots: 0.087
  exclusion.robots.policy: 0.076
  RedisCDXSource: 0.582
  esindex: 0.009
  LoadShardBlock: 99.457 (3)
  PetaboxLoader3.datanode: 250.471 (6)
  load_resource: 716.397 (2)
  PetaboxLoader3.resolve: 466.184 (2)
  loaddict: 104.862
*/
